# Python List dan Dictionary

## List

List adalah salah satu tipe data untuk mengoleksikan data di python, isi bisa diubah dan bisa menmaping jenis data yang berbeda.

In [2]:
s1 = 21
s2 = 22
s3 = 45

#simpan 
suhu =[s1,s2,s3]

In [3]:
print(suhu)

[21, 22, 45]

In [4]:
a=int(input("masukkan angka ="))
b=str(input("masukkan kata ="))
c=float(input("masukkan angka berkoma ="))

kumpulan =[a,b,c]
print("Inputan dalam list",kumpulan)

masukkan angka =23
masukkan kata =hallo
masukkan angka berkoma =3.2
Inputan dalam list [23, 'hallo', 3.2]

In [5]:
# membuat list
suhu_keluarga_ucup = [
                'ayah ucup', 19, 'ucup', 19, 'ibu ucup', 20
                ]
suhu_keluarga_boy = [
                'istri boy', 20, 'anak boy', 18, 'istri kedua boy', 21
                ]

# membuat list dalam list dan di campur dengan data boolean
suhu_keluarga = [
                suhu_keluarga_ucup, suhu_keluarga_boy, True
                ]

In [6]:
suhu_keluarga_ucup

['ayah ucup', 19, 'ucup', 19, 'ibu ucup', 20]

In [7]:
suhu_keluarga_boy

['istri boy', 20, 'anak boy', 18, 'istri kedua boy', 21]

In [8]:
suhu_keluarga

[['ayah ucup', 19, 'ucup', 19, 'ibu ucup', 20],
 ['istri boy', 20, 'anak boy', 18, 'istri kedua boy', 21],
 True]

In [9]:
tinggi_badan = [
                162, # index 0 
                177, # index 1
                182, # index 2
                150, # index 3
                166 # index 4
                ]

In [11]:
print(tinggi_badan[2])
print(tinggi_badan[-2])
print(tinggi_badan[:3])

182
150
[162, 177, 182]

### Manipulasi List

In [12]:
# mengubah suhu ucup
suhu_keluarga_ucup[3] = 22

In [13]:
print(suhu_keluarga_ucup)

['ayah ucup', 19, 'ucup', 22, 'ibu ucup', 20]

In [15]:
#mengubah pada index 2 terakhir
suhu_keluarga_ucup[-2:] = ['mamah ucup', 22]
print(suhu_keluarga_ucup)

['ayah ucup', 19, 'ucup', 22, 'mamah ucup', 22]

menambahkan elemen di list

In [16]:
suhu_keluarga_ucup = suhu_keluarga_ucup + ['adik ucup', 20]

In [17]:
print(suhu_keluarga_ucup)

['ayah ucup', 19, 'ucup', 22, 'mamah ucup', 22, 'adik ucup', 20]

 metode .append() ataupun .insert()

In [34]:
kumpulan =['meri','lala',12,0.6,'kaka']

In [35]:
kumpulan

['meri', 'lala', 12, 0.6, 'kaka']

In [36]:
kumpulan.append('Rizky')

In [37]:
kumpulan

['meri', 'lala', 12, 0.6, 'kaka', 'Rizky']

In [38]:
#jika ingin dimasukkan dalam index tertentu / diselipkan
kumpulan.insert(1,'Kiki')

In [39]:
kumpulan

['meri', 'Kiki', 'lala', 12, 0.6, 'kaka', 'Rizky']

In [40]:
kumpulan.insert(0, 99)

In [41]:
kumpulan

[99, 'meri', 'Kiki', 'lala', 12, 0.6, 'kaka', 'Rizky']

menghilangkan element di dalam list

In [42]:
#fungsi del
del(kumpulan[1]) #menghilangkan data di index 1

In [43]:
kumpulan

[99, 'Kiki', 'lala', 12, 0.6, 'kaka', 'Rizky']

In [45]:
#fungsi pop

'Kiki'

In [48]:
murid = ['Ayu', 'Bagus', 'Fajar', 'Cahyo', 'Ani']

In [49]:
murid.pop(2)#menghilangan index 2 (fajar)

'Fajar'

In [50]:
murid

['Ayu', 'Bagus', 'Cahyo', 'Ani']

In [51]:
murid.pop() #menghilangkan yg terakhir

'Ani'

In [52]:
murid

['Ayu', 'Bagus', 'Cahyo']

In [53]:
#fungsi remove

In [59]:
murid = ['Ayu', 'Bagus', 'Fajar', 'Cahyo', 'Ani']

In [60]:
murid.remove('Bagus') #harus dituliskan nama./ nilaidalam list

In [61]:
murid

['Ayu', 'Fajar', 'Cahyo', 'Ani']

### Some Function in List

In [65]:
gabung=['lama', 'tiba','kata', 'semua']

In [66]:
print(len(gabung))

4

In [67]:
print(sorted(gabung))

['kata', 'lama', 'semua', 'tiba']

In [68]:
angkaa=[2,4,5,6,2,11]

In [69]:
print(sum(angkaa))

30

‘.copy()’, metode ini digunakan untuk men-copy suatu list ke dalam suatu list baru yang memiliki nilai yang sama.

In [70]:
a = [1,2,3,4,5]

In [71]:
b=a.copy()

In [72]:
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [73]:
b.append(6)

In [74]:
print(b)

[1, 2, 3, 4, 5, 6]

### List Comperehension

In [75]:
number = [1,5,10,6,7,8,12]

In [76]:
result=[i for i in number if i>7]

In [77]:
result

[10, 8, 12]

In [78]:
for i in number:
    if i>7:
        print(i,end=' ')
    else:
        continue

10 8 12

# Dictionary

dictionary merupakan penyusun untuk suatu objek yang lebih kompleks seperti pandas dataframe.Jadi, dictionary ini adalah salah satu jenis tipe data di python yang memetakan antara key dan value dari suatu data.

In [1]:
numbers = {'one':1, 'two':2, 'three':3}

In [2]:
print(numbers['one'])

1

mengubah suatu nilai dalam dictionary

In [3]:
numbers['one'] = 'satu'

In [4]:
print(numbers)

{'one': 'satu', 'two': 2, 'three': 3}

dengan menggunakan looping

In [5]:
for k in numbers:
    print("{} = {}".format(k,numbers[k]))

one = satu
two = 2
three = 3

 iterasi terhadap valuenya saja

In [7]:
for k in numbers.values():
    print("{}".format(k))

satu
2
3

engecek apakah suatu key tertentu ada dalam dictionary tersebut bisa gunakan ‘in’ yang akan menghasilkan nilai Boolean True atau False,

In [8]:
'one' in numbers

True

In [10]:
'nine' in numbers

False

Untuk menambahkan item dalam dictionary

In [11]:
numbers = {'one':1, 'two':2, 'three':3}
numbers['four'] = 10

In [12]:
numbers

{'one': 1, 'two': 2, 'three': 3, 'four': 10}

In [13]:
numbers1 = {'two':5}
numbers.update(numbers1)

In [14]:
numbers

{'one': 1, 'two': 5, 'three': 3, 'four': 10}

Dalam dictionary, kita bisa melakukan removing data dengan menggunakan method pop, clear dan del.

pop akan menghapus suatu item dalam dictionary berdasarkan key-nya.

In [15]:
numbers = {'four': 10, 'one': 1, 'three': 3, 'two': 5}
numbers.pop('one')
print(numbers)

{'four': 10, 'three': 3, 'two': 5}

In [16]:
 clear akan menghapus keseluruhan item dalam dictionary.

In [17]:
numbers.clear()
print(numbers)

{}

del akan menghapus berdasarkan key, tetapi jika tidak memasukkan key maka fungsi del akan menghapus keseluruhan dictionary.

In [18]:
numbers = {'four': 10, 'three': 3, 'two': 5}
del numbers['four']
print(numbers)

{'three': 3, 'two': 5}

In [19]:
del numbers
print(numbers)

NameError: name 'numbers' is not defined