# Hari 4 â€“ Grouping Data

dengan menggunakan groupby()

 beberapa proses yang terjadi secara berurutan, yaitu :
 - splitting : memisahkan data
 - applying : melakukan operasi terhadap sekumpulan data
 - combining : menggabungkan data

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame([('bird', 'Falconiformes', 389.0),
                 ('bird', 'Psittaciformes', 24.0),
                 ('mammal', 'Carnivora', 80.2),
                 ('mammal', 'Primates', np.nan),
                 ('mammal', 'Carnivora', 58)],
               index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
               columns=('class', 'order', 'max_speed'))

In [3]:
display(df)

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [4]:
#groupby
#splitting
df.groupby('class')

In [5]:
#applying
df.groupby('class').mean()

        max_speed
class
bird        206.5
mammal       69.1

In [6]:
#hasil diatas merupakan combine

#### pada banyak data

In [7]:
df.groupby(['class','order'])[['max_speed']].agg(['mean','sum'])

                      max_speed
                           mean    sum
class  order
bird   Falconiformes      389.0  389.0
       Psittaciformes      24.0   24.0
mammal Carnivora           69.1  138.2
       Primates             NaN    0.0

In [9]:

df1=pd.DataFrame([('bird', 'Falconiformes', 389.0, 21),
                 ('bird', 'Psittaciformes', 24.0, 1.6),
                 ('mammal', 'Carnivora', 80.2, 198),
                 ('mammal', 'Primates', 27, 64),
                 ('mammal', 'Carnivora', 58, 109)],
               index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
               columns=('class', 'order', 'max_speed', 'weight'))

In [10]:
df1

          class           order  max_speed  weight
falcon     bird   Falconiformes      389.0    21.0
parrot     bird  Psittaciformes       24.0     1.6
lion     mammal       Carnivora       80.2   198.0
monkey   mammal        Primates       27.0    64.0
leopard  mammal       Carnivora       58.0   109.0

In [11]:
df1.groupby('class').mean()

         max_speed      weight
class
bird    206.500000   11.300000
mammal   55.066667  123.666667

In [12]:
df1.groupby(['class','order']).mean()

                       max_speed  weight
class  order
bird   Falconiformes       389.0    21.0
       Psittaciformes       24.0     1.6
mammal Carnivora            69.1   153.5
       Primates             27.0    64.0

In [14]:
#custome 
df1.groupby(['class','order'])[['max_speed']].mean()

                       max_speed
class  order
bird   Falconiformes       389.0
       Psittaciformes       24.0
mammal Carnivora            69.1
       Primates             27.0

In [16]:
df1.groupby(['class','order'])[['max_speed','weight']].agg(['mean','sum'])

                      max_speed        weight
                           mean    sum   mean    sum
class  order
bird   Falconiformes      389.0  389.0   21.0   21.0
       Psittaciformes      24.0   24.0    1.6    1.6
mammal Carnivora           69.1  138.2  153.5  307.0
       Primates            27.0   27.0   64.0   64.0

In [17]:
#custume function
def sumkurangmin(x):
    return x.sum()-x.min()

In [18]:
df1.groupby(['class','order'])[['max_speed','weight']].agg(['mean','sum', sumkurangmin])

                      max_speed                     weight
                           mean    sum sumkurangmin   mean    sum sumkurangmin
class  order
bird   Falconiformes      389.0  389.0          0.0   21.0   21.0          0.0
       Psittaciformes      24.0   24.0          0.0    1.6    1.6          0.0
mammal Carnivora           69.1  138.2         80.2  153.5  307.0        198.0
       Primates            27.0   27.0          0.0   64.0   64.0          0.0

In [19]:
#custume berdasarkan kolom
df1.groupby(['class','order'])[['max_speed','weight']].agg({'max_speed':'sum','weight':sumkurangmin})

                       max_speed  weight
class  order
bird   Falconiformes       389.0     0.0
       Psittaciformes       24.0     0.0
mammal Carnivora           138.2   198.0
       Primates             27.0     0.0